/** yui overlay **/
body div.mask.cel-ImageGalleryOverlay {
  background-color: black;
  /** please do not change to absolute. It must be fixed to prevent scroll away. **/
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.85;
  filter: alpha(opacity = 85);
  display: none;
  top: 0px;
  left: 0px;
  z-index: 99;
}

.cel-ImageGalleryOverlay .yui-panel .hd {
  height: 0px;
}
.cel-ImageGalleryOverlay .yui-panel,
.cel-ImageGalleryOverlay .yui-panel .hd, 
.cel-ImageGalleryOverlay .yui-panel .bd, 
.cel-ImageGalleryOverlay .yui-panel .ft {
  background: black;
  color: #EDEDED;
  border: 0px solid black;
}
.cel-ImageGalleryOverlay .container-close {
  position: absolute;
  z-index: 10;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-image:url('close.png');
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
}
.cel-ImageGalleryOverlay .container-close:hover {
  background-image:url('close-hover.png');
}
.cel-ImageGalleryOverlay .container-close:focus {
  border: 0px solid black;
  outline: none;
}
.cel-ImageGalleryOverlay .yui-panel .hd,
.cel-ImageGalleryOverlay .yui-panel .bd,
.cel-ImageGalleryOverlay .yui-panel .ft {
  margin: 0;
  padding: 0;
}
.cel-ImageGalleryOverlay .yui-panel .hd,
.cel-ImageGalleryOverlay .yui-panel .ft {
  display:none;
}
.cel-ImageGalleryOverlay .yui-panel-container {
  padding: 0px;
}
.cel-ImageGalleryOverlay .yui-panel-container.shadow .underlay {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
}

.cel-ImageGalleryOverlay .yui-panel .bd .cel_slideShow_slideRoot {
  overflow: hidden;
}

/** navigation default configuration **/
.cel-ImageGalleryOverlay .celPresSlideShow_next,
.cel-ImageGalleryOverlay .celPresSlideShow_prev {
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  z-index: 9;
  background-repeat: no-repeat; /** do not duplicate no-repeat IE8 does NOT like it **/
  background-position: center center; /** DO duplicate center (x/y) FF needs it **/
}
.cel-ImageGalleryOverlay .celPresSlideShow_next:hover,
.cel-ImageGalleryOverlay .celPresSlideShow_prev:hover {
  opacity: 1;
  cursor: pointer;
}
.cel-ImageGalleryOverlay .celPresSlideShow_next {
  right: 0px;
  background-image: url('layouts/gallery/newimg/galleryOverlayRightArrowWhite.png');
}
.cel-ImageGalleryOverlay .celPresSlideShow_prev {
  left: 0px;
  background-image: url('layouts/gallery/newimg/galleryOverlayLeftArrowWhite.png');
}
.cel-ImageGalleryOverlay .celimage_overlay {
  cursor: pointer;
}
