/* Gallery */

.presentationList ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.presentationList ul .cel_cm_gallery,
.presentationList ul .cel_cm_gallery_view {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 0px 5px 5px 0px;
}

.presentationList ul .cel_cm_gallery .text,
.presentationList ul .cel_cm_gallery_view .text {
	position: absolute;
	display: block;
	top: 40px;
	left: 0px;
	height: 20px;
	width: 100px;
	text-align: center;
	font-weight: bold;
}

.presentationList ul .cel_cm_gallery .background,
.presentationList ul .cel_cm_gallery_view .background {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 100px;
	background: #ddd;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.presentationList ul .cel_cm_gallery:hover .text,
.presentationList ul .cel_cm_gallery:hover .background,
.presentationList ul .cel_cm_gallery_view:hover .text,
.presentationList ul .cel_cm_gallery_view:hover .background {
	display: none;
}

.celimage_gallerylistview ul li div.ImageGallery .slideshowButton,
.celimage_gallerylistview ul li div.ImageGallery .celPresSlideShow_prev,
.celimage_gallerylistview ul li div.ImageGallery .celPresSlideShow_next {
  display: none;
}

.presentationList ul .cel_cm_gallery .slideshowButton,
.presentationList ul .cel_cm_gallery_view .slideshowButton {
	visibility: hidden;
}
.presentationList ul .cel_cm_gallery:hover .slideshowButton,
.presentationList ul .cel_cm_gallery_view:hover .slideshowButton {
	visibility: visible;
}

.presentationList ul .cel_cm_gallery .celanim_slideShow_navLeft,
.presentationList ul .cel_cm_gallery .celanim_slideShow_navRight,
.presentationList ul .cel_cm_gallery_view .celanim_slideShow_navLeft,
.presentationList ul .cel_cm_gallery_view .celanim_slideShow_navRight {
	display: none;
}

.presentationList ul .celimage_slideshow .slideRoot {
  color: #EDEDED;
  border: 0px solid black;
  background-color: black;
}

#sitecontainer .presentationList ul .celimage_slideshow .slideRoot p,
#sitecontainer .presentationList ul .celimage_slideshow .slideRoot h1,
#sitecontainer .presentationList ul .celimage_slideshow .slideRoot h2,
#sitecontainer .presentationList ul .celimage_slideshow .slideRoot h3,
#sitecontainer .presentationList ul .celimage_slideshow .slideRoot h4,
#sitecontainer .presentationList ul .celimage_slideshow .slideRoot h5,
#sitecontainer .presentationList ul .celimage_slideshow .slideRoot h6,
.presentationList ul .celimage_slideshow .slideRoot p,
.presentationList ul .celimage_slideshow .slideRoot h1,
.presentationList ul .celimage_slideshow .slideRoot h2,
.presentationList ul .celimage_slideshow .slideRoot h3,
.presentationList ul .celimage_slideshow .slideRoot h4,
.presentationList ul .celimage_slideshow .slideRoot h5,
.presentationList ul .celimage_slideshow .slideRoot h6 {
  color: #EDEDED;
}

#yuiOverlayContainer .celPresSlideShow_countSlideNum,
.celimage_slideshow_wrapper .celPresSlideShow_countSlideNum {
  display: block;
  position: absolute;
  text-align: left;
  height: 21px;
  width: 22px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  bottom: auto;
  left: auto;
  top: -22px;
  margin-right: -27px;
  right: 50%;
}
.celimage_slideshow_wrapper .celPresSlideShow_countSlideNum {
  top: -20px;
  height: 19px;
  font-size: 14px;
  line-height: 18px;
}
#yuiOverlayContainer .celPresSlideShow_currentSlideNum,
.celimage_slideshow_wrapper  .celPresSlideShow_currentSlideNum {
  display: block;
  position: absolute;
  text-align: right;
  padding-right: 7px;
  height: 21px;
  width: 22px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  bottom: auto;
  right: auto;
  top: -22px;
  margin-left: -31px;
  left: 50%;
  border-right: 1px solid white;
}
.celimage_slideshow_wrapper  .celPresSlideShow_currentSlideNum  {
  top: -20px;
  height: 19px;
  font-size: 14px;
  line-height: 18px;
  border-right: 1px solid #3D3D3D;
}
#yuiOverlayContainer .slideshowButton,
.celimage_slideshow_wrapper .slideshowButton { 
  background-image: url(celanim/buttons500.png);
  height: 66px !important; 
  width: 67px !important; 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  margin-top: -33px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: -33px; 
  opacity: 0.9; 
  background-position: -41px -44px !important; 
  background-repeat: no-repeat; 
  z-index : 2;
}

#yuiOverlayContainer .slideshowButton:hover,
.celimage_slideshow_wrapper .slideshowButton:hover { 
  background-image: url(celanim/buttons500-hover.png);
}
