@CHARSET "UTF-8";

#importForm .c3_fb_upload_filter_wrapper {
  margin-right: 180px;
}
#importForm .c3_fb_upload_filter {
  float: left;
  padding-right: 20px;
}
#importForm .c3_import_checkbox_all_none {
  padding-top: 12px;
  clear: left;
}