#set($title = "$!gallerydoc.getTitle()")
#set($galleryFN = $services.model.serialize($gallerydoc.documentReference, 'local'))
#set($albumobj = $!doc.getObject("XWiki.PhotoAlbumClass"))
#if("$!albumobj.getProperty('hasOverview').getValue()" != "0")
  #set($galleryLink = "$!xwiki.getURL($galleryFN, 'view')")
#else
  #set($galleryLink = "$!xwiki.getURL($galleryFN, 'view')?diapo=1")
#end
<span class="celements_gallery_link" href="$galleryLink">
#set($firstImageLink = '')
#set($gallerySpace = '')
#if($gallerydoc.attachmentList.size() > 0)
#set($attach = $gallerydoc.attachmentList.get(0))
#set($firstImageLink = $gallerydoc.getAttachmentURL($attach.filename, "download"))
#set($imgCssClasses = 'celanim_slideshow celanim_manualstart celanim_overlay celanim_addNavigation celanim_overlay_addCloseButton')
#elseif("$!services.pageType.getPageTypeRef($gallerydoc.documentReference).configName" == 'ImageGallery')
  #set($navObj = $!gallerydoc.getObject("Celements2.NavigationConfigClass"))
  #set($gallerySpace = $navObj.getProperty('menu_space').getValue())
  #set($gallerySlidesDocRef = $services.model.createDocumentReference('', "$!{gallerySpace}", ''))
  #set($slidesMenu = $xwiki.celementsweb.getSubNodesForParentRef($gallerySlidesDocRef.lastSpaceReference))
  #if($slidesMenu.size() > 0)
    #set($slideContent = $services.celementsweb.renderCelementsDocument($slidesMenu.get(0).documentReference).replaceAll('[\n\r]',''))
    #set($imageTagInSlide = $slideContent.replaceAll('.*<img [^>]*src="([^"]*)".*', '$1'))
    #if($imageTagInSlide.indexOf('?') > 0)
      #set($imageInSlide = $imageTagInSlide.substring(0, $imageTagInSlide.indexOf('?')))
    #end
    #set($firstImageLink = $imageInSlide)
  #end
  #set($imgCssClasses = 'celimage_slideshow celimage_manualstart celimage_overlay celimage_addNavigation celimage_overlay_addCloseButton')
#end
#if("$!firstImageLink" != '')
#if("$!imgGalcount" == '')
  #set($imgGalcount = 0)
#end
<!-- $doc ; $albumobj ; $albumobj.getProperty('photoWidth').getValue() ; $albumobj.getProperty('height2').getValue() -->
#set($imgGalcount = $imgGalcount + 1)
###set($thumbWidth = "$!albumobj.getProperty('thumbWidth').getValue()")
###set($thumbHeight = "$!albumobj.getProperty('height').getValue()")
#set($photoWidth = "$!albumobj.getProperty('photoWidth').getValue()")
#if("$!photoWidth" == '')
#set($photoWidth = "662")
#end
#set($photoHeight = "$!albumobj.getProperty('height2').getValue()")
#if("$!photoHeight" == '')
#set($photoHeight = "662")
#end
  <img id="ImgGalery$!{imgGalcount}:${galleryFN}:1::$!{photoWidth}:$!{photoHeight}:1:$!gallerySpace" class="$imgCssClasses" ##
   src="${firstImageLink}?celwidth=100&celheight=100&lowBound=1" alt="" />
#else
  <span class="cel_gal_no_pictures_text">##
$adminMsg.get('cel_gal_no_pictures')##
  </span>
#end
  <span class="background"></span>
  <span class="text">$!title</span>
</span>
