#*
## FP 04/05/2014 removing flushCache. flushCache needed what for? since 2.45.0 menuItems
## changes are taken care of by TreeNodeCacheListener
#if("$!request.deleted" == '1')
## $xwiki.celementsweb.flushCache()
#end
*#
#if(($context.action != 'edit') && ("$!request.xpage" != "overlay"))
#if("$!celldoc" != '')
#set($contentDoc = $celldoc)
#else   
#set($contentDoc = $tdoc)
#end
##prevent problems with overwritten contentDoc variables
#set($celGalleryDoc = $contentDoc)
#set($overwritePresCmCssClass = ' ')
#set($overwriteNavCMcssClass = 'cel_cm_gallery_view')
#set($emptyDictKeySuffix = '_gallery_overview')
#set($overwriteNavPresentationType = 'gallerySlidesOverview')
#if("$!galleryPresentationCount" == '')
#set($galleryPresentationCount = 0)
#end
#set($galleryNav = $celementsweb.createNavigation())
$galleryNav.loadConfigFromDoc($celldoc.documentReference)
#set($gallerySpace = $galleryNav.getNodeSpaceRef().getName())
#set($galleryPresentationCount = $galleryPresentationCount + 1)
<div id="GP$!{galleryPresentationCount}$!{contentDoc.getName()}:$!{gallerySpace}:" class="gallery cel_cm_gallery_view">
<div class="pfeil_links"></div>
<div class="pfeil_rechts"></div>
#parse('celTemplates/PresentationView.vm')
<!-- GP$!{galleryPresentationCount}$!{contentDoc.getName()} --></div>
#else
Will not be loaded in edit.
#end