#set($title = "$!gallerydoc.getTitle()")
#set($galleryFN = $services.model.serialize($gallerydoc.documentReference, 'local'))
#if("$!obj.getProperty('hasOverview').getValue()" != "0")
  #set($galleryLink = "$!xwiki.getURL($galleryFN, 'view')")
#else
  #set($galleryLink = "$!xwiki.getURL($galleryFN, 'view')?diapo=1")
#end
<a class="celements_gallery_link" href="$galleryLink">
#if($gallerydoc.attachmentList.size() > 0)
#set($attach = $gallerydoc.attachmentList.get(0))
#if("$!imgGalcount" == '')
  #set($imgGalcount = 0)
#end
#set($imgGalcount = $imgGalcount + 1)
  <img id="ImgGalery$!{imgGalcount}:${galleryFN}:1::662:662" class="celanim_slideshow celanim_manualstart celanim_overlay celanim_addNavigation" ##
   src="$gallerydoc.getAttachmentURL($attach.filename, "download")?celwidth=200&celheight=144" alt="" />
#else
  <span class="cel_gal_no_pictures_text">##
$adminMsg.get('cel_gal_no_pictures')##
  </span>
#end
  <span class="background"></span>
  <span class="text">$!title</span>
</a>
