#set($overwritePresCmCssClass = '')
#set($overwriteNavCMcssClass = 'cel_cm_gallery')
#set($emptyDictKeySuffix = '_gallery_list')
#set($overwriteNavPresentationType = 'galleryOverview')
<div class="gallery">
<div class="pfeil_links"></div>
<div class="pfeil_rechts"></div>
#parse('celTemplates/PresentationView.vm')
</div>