## #set($title = "$!slidedoc.getTitle()")
#set($slideFN = $services.model.serialize($slidedoc.documentReference, 'local'))
#if("$!celGalleryDoc" != '') ## gets set in ImageGalleryView.vm
#set($theGalleryDoc = $celGalleryDoc)
#elseif("$!contentDoc" != '') ##OLD: gets set in ImageGalleryView.vm
#set($theGalleryDoc = $contentDoc)
#else
#set($theGalleryDoc = $doc)
#end
#set($galleryFN = $services.model.serialize($theGalleryDoc.documentReference, 'local'))
#set($albumobj = $!theGalleryDoc.getObject("XWiki.PhotoAlbumClass"))
#if("$!albumobj.getProperty('hasOverview').getValue()" != "0")
  #set($slideLink = "$!xwiki.getURL($slideFN, 'view')")
#else
  #set($slideLink = "$!xwiki.getURL($slideFN, 'view')?diapo=1")
#end
<span class="celements_gallery_link" href="$slideLink">
#set($gallerySpace = '')
#set($navObj = $!theGalleryDoc.getObject("Celements2.NavigationConfigClass"))
#set($gallerySpace = $navObj.getProperty('menu_space').getValue())
#set($galleryLayout = $albumobj.getProperty('galleryLayout').getValue())
#set($galleryLayoutRef = $services.model.createDocumentReference('', "$!{galleryLayout}", '').getLastSpaceReference())
#if(("$!galleryLayout" == '') || !$celementsweb.layoutExists($galleryLayoutRef))
#set($galleryLayout = 'SimpleLayout')
#set($galleryLayoutRef = $services.model.createDocumentReference('', "SimpleLayout", '').getLastSpaceReference())
#end
#if(!$recursiveCheck)
#set($recursiveCheck = true)
#set($slideContent = $celementsweb.renderCelementsDocumentWithLayout($slidedoc.documentReference, $galleryLayoutRef))
#end
#set($recursiveCheck = false)
#set($imgCssClasses = "celimagelayout_${galleryLayout} celimage_slideshow")
#set($imgCssClasses = "${imgCssClasses} celimage_nonestart celimage_overlay ")
#set($imgCssClasses = "${imgCssClasses} celimage_addNavigationOverlay celimage_overlay_addCloseButton")
#set($imgCssClasses = "${imgCssClasses} celimage_overlaynonestart celimage_customStartSlide")
#if("$!imgGalSlidecount" == '')
  #set($imgGalSlidecount = 0)
#end
##<!-- $theGalleryDoc ; $albumobj ; $albumobj.getProperty('photoWidth').getValue() ; $albumobj.getProperty('height2').getValue() -->
#set($imgGalSlidecount = $imgGalSlidecount + 1)
#set($photoWidth = "$!albumobj.getProperty('photoWidth').getValue()")
#if("$!photoWidth" == '')
  #set($photoWidth = "662")
#end
#set($photoHeight = "$!albumobj.getProperty('height2').getValue()")
#if("$!photoHeight" == '')
  #set($photoHeight = "662")
#end
#set($thumbHeight = "$!albumobj.getProperty('height').getValue()")
#if("$!thumbHeight" == '')
  #set($thumbHeight = "100")
#end
#set($thumbWidth = "$!albumobj.getProperty('thumbWidth').getValue()")
#if("$!thumbWidth" == '')
  #set($thumbWidth = "100")
#end
  #set($zoomFactorH = $mathtool.div($thumbHeight, $photoHeight))
  #set($zoomFactorW = $mathtool.div($thumbWidth, $photoWidth))
  #set($zoomFactor = $mathtool.min($zoomFactorH, $zoomFactorW))
  #set($slideThumbHeight = $mathtool.mul($photoHeight, $zoomFactor))
  #set($slideThumbWidth = $mathtool.mul($photoWidth, $zoomFactor))
  #set($slideTop = $mathtool.div($mathtool.sub($thumbHeight, $slideThumbHeight), 2))
  #set($slideLeft = $mathtool.div($mathtool.sub($thumbWidth, $slideThumbWidth), 2))
  ##IMPORTANT first id part MUST be the galleryFN otherwise the Gallery Layout will not
  ##IMPOETNAT be loaded correctly in overlay 
  
  Hasedit: $hasedit
  #if($hasedit)
    #set($elemTitle = "$!{slidenum}:$!{slidedoc.documentReference.name}")
  #end
  <div id="ImgGallerySlide$!{imgGalSlidecount}:${galleryFN}:1::$!{photoWidth}:$!{photoHeight}:$!{slidenum}:$!{gallerySpace}:$!{thumbWidth}:$!{thumbHeight}"##
   class="$imgCssClasses" style="width:$!{thumbWidth}px;height:$!{thumbHeight}px;" title="$!elemTitle">
  #*
      zoom: 2; /* all browsers */
     -moz-transform: scale(2);  /* Firefox */
     position: absolute;
     -moz-transform-origin: 0 0 0;
  *#
##      <div style="zoom: $!{zoomFactor}; -moz-transform: scale($!{zoomFactor}); -moz-transform-origin: 0 0 0;">
##        <div class="cel_slideShow_slideRoot" style="width:$!{photoWidth}px; height:$!{photoHeight}px;">
        <div class="cel_slideShow_thumbContainer cel_slideShow_centerContainer"##
 style="width: ${slideThumbWidth}px; height: ${slideThumbHeight}px;##
 top: $!{slideTop}px; left: ${slideLeft}px; position: absolute;">
        <div class="cel_slideShow_slideRoot">
          <div class="cel_slideShow_slideWrapper"##
 style="zoom: $!{zoomFactor}; -moz-transform: scale($!{zoomFactor}); -moz-transform-origin: 0 0 0;">
          $slideContent
          <!-- slideWrapper --></div>
        <!-- slideRoot --></div>
        <!-- thumbContainer --></div>
##      </div>
  <!-- ImgGallerySlide --></div>
#*
  <span class="background"></span>
  <span class="text">$!title</span>
*#
</span>
