#*
## FP 04/05/2014 removing flushCache. flushCache needed what for? since 2.45.0 menuItems
## changes are taken care of by TreeNodeCacheListener
#if("$!request.deleted" == '1')
  ## $xwiki.celementsweb.flushCache()
#end
*#
#if(($context.action != 'edit') && ("$!request.xpage" != "overlay"))
  #if("$!celldoc" != '')
    #set($contentDoc = $celldoc)
  #else
    #set($contentDoc = $tdoc)
  #end
  ##prevent problems with overwritten contentDoc variables
  #set($celGalleryDoc = $contentDoc)
  #set($overwritePresCmCssClass = ' ')
  #set($overwriteNavCMcssClass = 'cel_cm_gallery_view')
  #set($emptyDictKeySuffix = '_gallery_overview')
  #set($overwriteNavPresentationType = 'gallerySlidesOverview')
  #if("$!galleryPresentationCount" == '')
    #set($galleryPresentationCount = 0)
  #end
  #set($galleryNav = $celementsweb.createNavigation())
  $galleryNav.loadConfigFromDoc($contentDoc.documentReference)
  #if($galleryNav.getNumberOfItem() > 0)
    <link rel="stylesheet" href="$celementsweb.getSkinFile(':celJS/swiper-2.7/idangerous.swiper.css', 'file')" type="text/css" media="screen" />
    <link rel="stylesheet" href="$celementsweb.getSkinFile(':celJS/swiper-scrollbar-2.4/idangerous.swiper.scrollbar.css', 'file')" type="text/css" media="screen" />
    <link rel="stylesheet" href="$celementsweb.getSkinFile(':celRes/swiper-scrollbar.css', 'file')" type="text/css" media="screen" />
    
    $!celementsweb.addExtJSfileOnce(':celJS/endlessScroll/endlessScroller.js', 'file')
    $!celementsweb.addExtJSfileOnce(':celJS/swiper-2.7/idangerous.swiper.min.js', 'file')
    $!celementsweb.addExtJSfileOnce(':celJS/swiper-scrollbar-2.4/idangerous.swiper.scrollbar.min.js', 'file')
    $!celementsweb.addExtJSfileOnce(':celJS/images/imageGalleryPaging.js', 'file')
  #end
  #set($gallerySpace = $galleryNav.getNodeSpaceRef().getName())
  #set($galleryPresentationCount = $galleryPresentationCount + 1)
  <div id="GP$!{galleryPresentationCount}$!{contentDoc.getName()}:$!{gallerySpace}:" class="gallery cel_cm_gallery_view galleryViewScrollContainer swiper-container">
    #set($obj = $celGalleryDoc.getObject("XWiki.PhotoAlbumClass"))
    #set($showDescription = $!obj.getProperty("showDescription").getValue())
    #set($description = $!obj.getProperty("description").getValue())
    #parse('celTemplates/PresentationView.vm')
    <!-- GP$!{galleryPresentationCount}$!{contentDoc.getName()} -->
  </div>
#else
  Will not be loaded in edit.
#end