$!celementsweb.addExtJSfileOnce(':celJS/yui/yahoo/yahoo-min.js', 'file')
$!celementsweb.addExtJSfileOnce(':celJS/yui/dom/dom-min.js', 'file')
$!celementsweb.addExtJSfileOnce(':celJS/yui/event/event-min.js', 'file')
$!celementsweb.addExtJSfileOnce(':celJS/yui/element/element-min.js', 'file')
$!celementsweb.addExtJSfileOnce(':celJS/yui/button/button-min.js', 'file')
$!celementsweb.addExtJSfileOnce(':celJS/yui/container/container-min.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/celpresentation/celYuiOverlay.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/celpresentation/CelementsSlideShow.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/images/imageSlideShow.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/images/gallerylist-mobile-fix.js', 'file')
<link rel="stylesheet" href="$celementsweb.getSkinFile(':celJS/yui/container/assets/skins/sam/container.css', 'file')" type="text/css" media="screen" />
<link rel="stylesheet" href="$celementsweb.getSkinFile(':celJS/yui/button/assets/skins/sam/button.css', 'file')" type="text/css" media="screen" />
##TODO fix broken exended layout by Gartnernzuft
<link rel="stylesheet" href="$celementsweb.getSkinFile(':celRes/Gallery.css', 'file')" type="text/css" media="screen" />
<link rel="stylesheet" href="$celementsweb.getSkinFile(':celRes/galleryYuiOverlay.css', 'file')" type="text/css" media="screen" />
#*
## FP 04/05/2014 removing flushCache. flushCache needed what for? since 2.45.0 menuItems
## changes are taken care of by TreeNodeCacheListener
#if("$!request.deleted" == '1')
## $xwiki.celementsweb.flushCache()
#end
*#
#if("$!celldoc" != '')
#set($contentDoc = $celldoc)
#else   
#set($contentDoc = $tdoc)
#end
#set($overwritePresCmCssClass = '')
#set($overwriteNavCMcssClass = 'cel_cm_gallery')
#set($emptyDictKeySuffix = '_gallery_list')
#set($overwriteNavPresentationType = 'galleryOverview')
#if("$!galleryPresentationCount" == '')
#set($galleryPresentationCount = 0)
#end
#set($galleryNav = $celementsweb.createNavigation())
$galleryNav.loadConfigFromDoc($celldoc.documentReference)
#set($gallerySpace = $galleryNav.getNodeSpaceRef().getName())
#set($galleryPresentationCount = $galleryPresentationCount + 1)
<div id="GP$!{galleryPresentationCount}$!{contentDoc.getName()}:$!{gallerySpace}:" class="gallery cel_cm_gallery celimage_gallerylistview">
<div class="pfeil_links"></div>
<div class="pfeil_rechts"></div>
#parse('celTemplates/PresentationView.vm')
</div>