## Provided values:
## $imageURL - the resized download URL to the image
## $attFullName - attachment full name (Space.Name;Attachment)
## $metaTagMap - Map containing all metatags extracted from the image
#set($imgAltTag = "$attFullName.replaceAll('^.*;(.*)\..*?$', '$1')")
#if($metaTagMap.containsKey('Headline'))
  #set($imgAltTag = "$!metaTagMap.get('Headline')")
#end
<img src="$imageURL" alt="$imgAltTag"/>
#if("$!request.slideContent" == '')
  #if($metaTagMap.containsKey('Headline'))
    <h1 class="imageHeadline">$!metaTagMap.get('Headline')</h1>
  #end
  #if($metaTagMap.containsKey('Object Name')) ## Title
    <p class="imageTitle">$!metaTagMap.get('Object Name')</p>
  #end
  #if($metaTagMap.containsKey('Fixture Identifier') || $metaTagMap.containsKey('Date/Time'))
    <p class="imageEvent">
      #if($metaTagMap.containsKey('Fixture Identifier')) ## Event
        <span class="imageFixtureIdentifier">$!metaTagMap.get('Fixture Identifier')</span>
      #end
      #if($metaTagMap.containsKey('Date/Time'))
        #set($evDate = $datetool.toDate('yyyy:MM:dd HH:mm:ss', "$!metaTagMap.get('Date/Time')"))
        <span class="imageDateTime">$!datetool.format('dd.MM.yyyy HH:mm:ss')</span>
      #end
    </p>
  #end
  #if($metaTagMap.containsKey('Caption/Abstract'))
    <p class="imageDescription">$!metaTagMap.get('Caption/Abstract')</p>
  #end
#else
  #set($slideContent = "$!request.slideContent")
  #foreach($key in $metaTagMap.keySet())
    #set($slideContent = $slideContent.replaceAll("\{metatag:${key}\}", "$!metaTagMap.get($key)"))
  #end
  $slideContent
#end