#if("$!elemId" != '')
#set($l = "$services.url.getURL($services.model.resolveDocument($elemId), 'delete')")
#set($l = "${l}?language=${language}")
#set($l = "${l}&xcancel=/${doc.getSpace()}/$doc.getName()")
#set($xredirect = $escapetool.url("$!services.url.getURL()"))
#set($cmenu_pageLink = "${l}&xredirect=$!{xredirect}")
window.location.href=&quot;${cmenu_pageLink}&quot;##
#end