#if("$!elemId" == '')
#if($elemParams.size() > 1)
#set($galleryDocRef = $services.model.resolveDocument($elemParams.get(1)))
#else
#set($galleryDocRef = $doc.documentReference)
#end
#set($queryStr = "xpage=overlay&conf=ImportIntoGallery&language=$!{language}")
#set($l = "$services.url.getURL($galleryDocRef, 'view', $queryStr)")
#set($xredirect = $escapetool.url("$!services.url.getURL()"))
#set($cmenu_pageLink = "${l}&xredirect=$!{xredirect}")
window.location.href=&quot;${cmenu_pageLink}&quot;##
#end