#if("$!elemId" == '')
#if($elemParams.size() > 1)
#set($galleryDocRef = $services.model.resolveDocument($elemParams.get(1)))
#else
#set($galleryDocRef = $doc.documentReference)
#end
#set($xredirect = $escapetool.url("$!services.url.getURL()"))
#set($cmenu_pageLink  = $services.url.getURL($galleryDocRef, 'edit', "language=${language}&xredirect=$!xredirect"))
window.location.href=&quot;${cmenu_pageLink}&quot;##
#end