$response.setStatus(200)
#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
#set($albumObj = $doc.getObject("XWiki.PhotoAlbumClass", true))
$jsonBuilder.openDictionary()
$jsonBuilder.addStringProperty('title', "$!doc.getTitle()")
$jsonBuilder.openProperty('thumbWidth')
$jsonBuilder.addInteger($mathtool.toInteger($!albumObj.getProperty('thumbWidth').getValue()))
$jsonBuilder.openProperty('thumbHeight')
## the thumbHeight is in 'height' property ? why ?
$jsonBuilder.addInteger($mathtool.toInteger($!albumObj.getProperty('height').getValue()))
$jsonBuilder.openProperty('height')
$jsonBuilder.addInteger($mathtool.toInteger($!albumObj.getProperty('height2').getValue()))
$jsonBuilder.openProperty('width')
$jsonBuilder.addInteger($mathtool.toInteger($!albumObj.getProperty('photoWidth').getValue()))
$jsonBuilder.addStringProperty('desc', "$!albumObj.getProperty('description').getValue()")
$jsonBuilder.openProperty('hasOverview')
#set($hasOverview = ("$!albumObj.getProperty('hasOverview').getValue()" == '1'))
$jsonBuilder.addBoolean($hasOverview)
$jsonBuilder.addStringProperty('theme', "$!albumObj.getProperty('theme').getValue()")
$jsonBuilder.openProperty('imageArray')
$jsonBuilder.openArray()
#set($attachments = $xwiki.celementsweb.getAttachmentListSorted($doc, 'AttachmentDescendingChangeDateComparator'))
#if($attachments.size() > 0)
#foreach ($attach in $attachments)
#if ($attach.isImage())
$services.celementsphoto.addImage($jsonBuilder, $attach)
#end ## if isImage
#end ## foreach
#elseif("$!services.pageType.getPageTypeRef($doc.documentReference).configName" == 'ImageGallery')
  #set($navObj = $!doc.getObject("Celements2.NavigationConfigClass"))
  #set($gallerySpace = $navObj.getProperty('menu_space').getValue())
  #set($gallerySlidesDocRef = $services.model.createDocumentReference('', "$!{gallerySpace}", ''))
  #set($slidesMenu = $xwiki.celementsweb.getSubNodesForParentRef($gallerySlidesDocRef.lastSpaceReference))
  #foreach($slideTreeNode in $slidesMenu)
    #set($slideContent = $services.celementsweb.renderCelementsDocument($slideTreeNode.documentReference).replaceAll('[\n\r]',''))
    #set($imageTagInSlide = $slideContent.replaceAll('.*<img [^>]*src="([^"]*)".*', '$1'))
    #if($imageTagInSlide.indexOf('?') > 0)
      #set($imageInSlide = $imageTagInSlide.substring(0, $imageTagInSlide.indexOf('?')))
    #end
    #set($imageSplit = $imageInSlide.split('/'))
    #set($imageDocRef = $services.model.createDocumentReference('', $imageSplit.get(2), $imageSplit.get(3)))
    #set($imageRef = $services.model.createAttachmentReference($imageDocRef, $imageSplit.get(4)))
    #set($imgAttach = $services.celementsphoto.getImageAttachment($imageRef))
    #if("$!imgAttach" != '')
$services.celementsphoto.addImage($jsonBuilder, $imgAttach)
    #end
  #end
#end
$jsonBuilder.closeArray()
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()