#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openDictionary()
#set($celldocRef = $services.model.resolveDocument("$!request.galleryNavConf"))
#set($createdNav = $celementsweb.createNavigation())
$createdNav.loadConfigFromDoc($celldocRef)
#if("$!request.offset" != '')
#set($offset = $xwiki.parseInt("$!request.offset"))
#if("$!offset" != '')
$createdNav.setOffset($offset)
#end
#end
#if("$!request.overwriteItemsPerPage" != '')
#set($overwriteItemsPerPage = $xwiki.parseInt("$!request.overwriteItemsPerPage"))
#if("$!overwriteItemsPerPage" != '')
$createdNav.setNumberOfItem($overwriteItemsPerPage)
#end
#end
$createdNav.setPresentationType("gallerySlidesOverview")
$jsonBuilder.addStringProperty('content', $createdNav.includeNavigation())
#set($numberOfItem = $createdNav.getNumberOfItem())
$jsonBuilder.openProperty('itemsPerPage')
$jsonBuilder.addInteger($numberOfItem)
#set($createdNavNext = $celementsweb.createNavigation())
#if("$!request.offset" != '')
#set($offset = $xwiki.parseInt("$!request.offset"))
#if("$!offset" != '')
$createdNavNext.setOffset($offset)
#end
#end
$createdNavNext.loadConfigFromDoc($celldocRef)
$createdNavNext.setOffset($mathtool.add($offset, $numberOfItem))
$jsonBuilder.openProperty('effectiveNumberOfItems')
$jsonBuilder.addInteger($createdNavNext.getEffectiveNumberOfItems())
#set($hasMore = $createdNavNext.getEffectiveNumberOfItems() > 1)
$jsonBuilder.openProperty('hasMore')
$jsonBuilder.addBoolean($hasMore)
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()