$response.setStatus(200)
#set($xwql = "from doc.object(Celements2.PageType) as pt")
#set($xwql = "$xwql where pt.page_type='FileBaseTag'")
#set($tagDocs = $services.query($xwql).execute())
#set($sortedTagDocs = $util.getTreeMap())
#set($nav = $celementsweb.createNavigation())
#foreach($tag in $tagDocs)
#set($devNull = $sortedTagDocs.put($nav.getMultilingualMenuName($tag, "$!language"), $tag))
#end
#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openDictionary()
$jsonBuilder.openProperty('tagList')
$jsonBuilder.openArray()
#foreach($tagDoc in $sortedTagDocs.keySet())
$jsonBuilder.openDictionary()
$jsonBuilder.addStringProperty('label', "$!tagDoc")
$jsonBuilder.addStringProperty('value', "$!sortedTagDocs.get($tagDoc)")
$jsonBuilder.closeDictionary()
#end
$jsonBuilder.closeArray()
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()