$response.setStatus(200)
#set($start = 0)
#if(("$!request.start" != '') && ($util.parseInt("$!request.start") > 0))
  #set($start = $util.parseInt("$!request.start"))
#end
#set($nb = 0)
#if(("$!request.nb" != '') && ($util.parseInt("$!request.nb") > 0))
  #set($nb = $util.parseInt("$!request.nb"))
#end
#set($comparator = 'AttachmentDescendingChangeDateComparator')
#if("$request.orderby" == 'AlphaAsc')
  #set($comparator = 'AttachmentAscendingNameComparator')
#elseif("$request.orderby" == 'AlphaDesc')
  #set($comparator = 'AttachmentDescendingNameComparator')
#elseif("$request.orderby" == 'ChangeDateAsc')
  #set($comparator = 'AttachmentAscendingChangeDateComparator')
#elseif("$request.orderby" == 'ChangeDateDesc')
  #set($comparator = 'AttachmentDescendingChangeDateComparator')
#end
#if("$!request.spaceImgs" != '')
#set($attachments = $xwiki.celementsweb.getAttachmentListSortedSpace("$!request.spaceImgs", $comparator, true, $start, $nb))
#else
#set($attachments = $xwiki.celementsweb.getAttachmentListSorted($doc, $comparator, true, $start, $nb))
#end
#set($tagList = '')
#if("$!request.tagList" != '')
#set($tagDoc = $xwiki.getDocument("$!request.tagList"))
#set($tagObjs = $tagDoc.getObjects('Classes.FilebaseTag'))
#set($tagList = [])
#foreach($tagObj in $tagObjs)
#set($devNull = $tagList.add("$tagObj.getProperty('attachment').getValue()"))
#end
#end
#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openArray()
#foreach ($attach in $attachments)
#if(("$!tagList" == '') || $tagList.contains("${attach.getDocument().getFullName()}/$attach.getFilename()"))
$services.celementsphoto.addImage($jsonBuilder, $attach)
#end
#end ## foreach
$jsonBuilder.closeArray()
$jsonBuilder.getJSON()