$celementsweb.addExtJSfileOnce(':celJS/images/galleryClass.js')
$celementsweb.addExtJSfileOnce(':celJS/images/importImgSelect.js')
$celementsweb.addExtJSfileOnce(':celJS/images/loadMetaTags.js')
<link rel="stylesheet" href="$celementsweb.getSkinFile(':celRes/importIntoGallery.css', 'file')" type="text/css" media="all" /> 
<form action="" method="post">
#if("$!doc.getObject('XWiki.PhotoAlbumClass')" == '')
  <div style="border: 1px dotted grey; padding-bottom: 20px;">
    <input type="hidden" id="xredirect" name="xredirect" value="$!request.xredirect" />
    #foreach($gal in $services.query.xwql("from doc.object(XWiki.PhotoAlbumClass) as obj").execute())
      #set($defaultChecked = '')
      #if("$!gal" == "$!doc.getFullName()")
        #set($defaultChecked = 'checked="checked"')
      #end
      <input type="radio" class="galleries" name="galleries" value="$xwiki.getURL($gal)" $defaultChecked />
      $gal<br />
    #end
  </div>
#else
  #set($gObj = $doc.getObject('XWiki.PhotoAlbumClass'))
  #set($gName = "$!gObj.getProperty('title').getValue()")
  #if("$!gName" == '')
    #set($gName = "$!doc.getTitle()")
  #end
  #if("$!gName" == '')
    #set($gName = "$!doc.getName()")
  #end
  Bilder zur Galerie $gName hinzuf&uuml;gen
#end
<div style="border: 1px dotted grey">
  Slideaufbau<br />
  Leer lassen f&uuml;r Standardinhalt (&Uuml;berschrift, Titel, Anlass, Datum / Zeit und Beschreibung).
  <div style="display:none;">
    Verf&uuml;gbare MetaTags:
    <p id="metaTags"></p>
  </div>
  <textarea id="slideContent" style="width: 550px; height: 100px;" name="slideContent"><h1 class="imageHeadline">{metatag:Headline}</h1>
<p class="imageTitle">{metatag:Object Name}</p></textarea>
</div>
<div class="text relative imagePicker">
    <div class="height29"><p class="size13 mtop5">Bild Info: <span class="infoName"></span></p></div>
    <input class="absolute right25 top2 motiveSubmit" type="submit" value="Auswahl Importieren">
    <input type="hidden" name="xpage" value="celements_ajax" />
    <input type="hidden" name="ajax_mode" value="generateImageSlides" />
    <input type="hidden" class="motive imageFN" name="imageFN" value="Content_attachments.FileBaseDoc;photo.jpg" />
    <br>
</div>
<div class="bilder"></div>
<input class="motiveSubmit" style="margin-left:296px; margin-bottom:5px" type="submit" value="Auswahl Importieren">
</form>