#if("$!attDoc" == '')
  #set($attDoc = $xwiki.getDocument("$!request.get('attDoc')"))
#end
#if("$!filename" == '')
  #set($filename = "$!request.get('filename')")
#end
#if("$!galleryDoc" == '')
  #if("$!request.get('gallery')" != '')
    #set($galleryDoc = $xwiki.getDocument("$!request.get('gallery')"))
  #else
    #set($galleryDoc = $doc)
  #end
#end
<div class="c3_import_title c3_title_preimport">$adminMsg.get('cel_import_preimport')
#if("$!filename" != '') - $!filename #end </div><!-- /c3_import_title -->
<div class="c3_import_preimport_result c3_import_tabbox" id="c3_import_preimport_result">
<span class="c3_import_checkbox_all_none">
  <span id="check_all">$adminMsg.get('cel_photo_all')</span> 
  <span id="check_none">$adminMsg.get('cel_photo_none')</span>
</span>
<input type="hidden" id="c3_not_yet_imported_msg" value="$adminMsg.get('cel_import_photo_unimported_preimport')" />
<input type="hidden" id="c3_import_url" value="$xwiki.getURL('Macros.ImportImagesNow').replaceFirst('/xwiki/bin/view/','/')" />
<input type="hidden" id="c3_title_importing" value="$adminMsg.get('cel_import_photo_importing')" />
<input type="hidden" id="c3_nothing_to_import_msg" value="$adminMsg.get('cel_import_alert_images_empty')" />
<input type="hidden" id="c3_overwrite_on_import_msg" value="$adminMsg.get('cel_import_alert_images_overwrite')" />
##Do not change name / id of the form without adjusting javascript in the import object
<form action="" method="post" name="importForm" id="importForm">
  <input type="hidden" name="xpage" value="plain" />
  <input type="hidden" name="gallery" value="$!request.get('gallery')" />
  <input type="hidden" name="attDoc" value="$!request.get('attDoc')" />
  <input type="hidden" name="filename" value="$!request.get('filename')" />
  #set($fbDoc = "$!xwiki.getWebPreference('cel_centralfilebase')") <!-- centraldoc: $fbDoc -->
  #set($fbDot = $fbDoc.indexOf('.'))
  #set($fbDocSpace = "$!fbDoc.substring(0, $fbDot)") <!-- space: $fbDocSpace -->
  <input type="hidden" name="imgDestSpace" value="$fbDocSpace" />
  
  <span id="c3_import_button_div" class="c3_import_scrollabe_ignore"><input type="submit" id="c3_import_button" value="$adminMsg.get('cel_photo_import_selected_now')" /></span>
  <div class="c3_import_row">
    <div class="c3_import_count_selected c3_import_checkbox">
      <span id="c3_import_count_files"></span> / <span id="c3_import_count_total"></span>
    </div>
    <span class="c3_import_filename">$adminMsg.get('cel_photo_filename')</span>
    <span class="c3_import_action">$adminMsg.get('cel_photo_action')</span>
  </div>
  <div class="c3_import_list c3_import_scrollable">
  #foreach($file in $xwiki.celementsphoto.getAttachmentFileListWithActions($attDoc, "$!filename", $galleryDoc))
    <div class="c3_import_row">
      <span class="c3_import_checkbox">
        #if($file.getAction() == -1)
          <input type="checkbox" name="filename_$velocityCount" value="" disabled="disabled" />
        #else
          <input type="checkbox" class="c3_import_checkbox_element" name="filename_$velocityCount" value="$!file.getFilename()" checked="checked" />
        #end
      </span>
      #set($imgSrc = $attDoc.getAttachmentURL("$filename", 'download'))
      #set($imgSrc = "${imgSrc}/${file.getFilename()}")
      <span class="c3_import_filename">
        #if($file.getFilename().toLowerCase().endsWith(".jpg") || $file.getFilename().toLowerCase().endsWith(".jpe") || $file.getFilename().toLowerCase().endsWith(".jpeg"))
          <img width="100" src="$!imgSrc" alt="$file.getFilename()"/>
        #end
        $file.getFilename()
      </span>
      #if($file.getAction() == 0)
        #set($actionClass = 'cel_photo_overwrite')
        #set($actionName = $adminMsg.get('cel_photo_overwrite'))
      #elseif($file.getAction() == 1)
        #set($actionClass = 'cel_photo_add')
        #set($actionName = $adminMsg.get('cel_photo_add'))
      #else
        #set($actionClass = 'cel_photo_skip')
        #set($actionName = $adminMsg.get('cel_photo_skip'))
      #end
      <span class="c3_import_action $!{actionClass}">$actionName</span>
      <span class="c3_import_action cel_photo_skip" style="display: none;">$adminMsg.get('cel_photo_skip')</span>
    </div>
  #end
 </div> <!-- c3_import_list -->
</form>
</div><!-- /c3_import_preimport_result -->