<div class="c3_import_title c3_title_imported">$adminMsg.get('cel_import_photo_imported')</div><!-- /c3_import_title -->
<div class="c3_import_preimport_result c3_import_tabbox" id="c3_import_preimport_result">
<ul>
#foreach($param in $request.getParameterNames())
  #if(("$!param.indexOf('filename_')" == '0') && ("$!request.get($param)" != ''))
    <li>$request.get($param)</li>
    #set($attDocRef = $services.model.resolveDocumentReference("$request.attDoc"))
    #set($destDocRef = $celementsweb.getNextTitledPageDocRef("Images", "Img")))
    $services.celementsphoto.unzipFileToAttachment($attDocRef, "$!request.filename", "$!request.get($param)", $destDocRef)
    $services.celmetatags.extractMetadataToDocument($destDocRef, "$!request.filename", $destDocRef)
    #if("$!request.gallery" != '')
      TODO Bilder $request.gallery hinzufuegen
    #end
  #end
#end
</ul>
</div>