@charset "UTF-8";
/* CSS Document */

.celanim_slideshow_wrapper { 
  display: inline-block; 
  position: relative; 
  font-size: 0px; 
  line-height: 0px; 
  overflow: hidden; 
}

.highslide-html div.celanim_slideshow_wrapper .highslide-image {
  border: none;
}


#yuiOverlayContainer .celPresSlideShow_countSlideNum,
.celimage_slideshow_wrapper .celPresSlideShow_countSlideNum {
  display: block;
  position: absolute;
  text-align: left;
  height: 21px;
  width: 22px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  bottom: auto;
  left: auto;
  top: -22px;
  margin-right: -27px;
  right: 50%;
}
.celimage_slideshow_wrapper .celPresSlideShow_countSlideNum {
  top: -20px;
  height: 19px;
  font-size: 14px;
  line-height: 18px;
}
#yuiOverlayContainer .celPresSlideShow_currentSlideNum,
.celimage_slideshow_wrapper  .celPresSlideShow_currentSlideNum {
  display: block;
  position: absolute;
  text-align: right;
  padding-right: 7px;
  height: 21px;
  width: 22px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  bottom: auto;
  right: auto;
  top: -22px;
  margin-left: -31px;
  left: 50%;
  border-right: 1px solid white;
}
.celimage_slideshow_wrapper  .celPresSlideShow_currentSlideNum  {
  top: -20px;
  height: 19px;
  font-size: 14px;
  line-height: 18px;
  border-right: 1px solid #3D3D3D;
}
#yuiOverlayContainer .slideshowButton,
#sitecontainer #content .celimage_slideshow_wrapper .slideshowButton { 
  background-image: url(buttons500.png);
  height: 66px !important; 
  width: 67px !important; 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  margin-top: -33px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: -33px; 
  opacity: 0.9; 
  background-position: -41px -44px !important; 
  background-repeat: no-repeat; 
  z-index : 2;
  cursor: pointer;
}

#yuiOverlayContainer .slideshowButton:hover,
#sitecontainer #content .celimage_slideshow_wrapper .slideshowButton:hover { 
  background-image: url(buttons500-hover.png);
}

.celimage_overlay {
  cursor: pointer;
}

/*
  * ContextMenuSlideShow 
*/
.contextMenuSlideShow {
  min-width: 125px;
}
.contextMenuSlideShow ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background: rgb(51, 51, 51);
  background: rgba(51, 51, 51, 0.92);
  border: 1px solid #5e5e5e;
  border-width: 0px 1px 1px 1px;
}
.contextMenuSlideShow li {
	margin-top: 0px;
	border-top: 1px solid #5e5e5e;
	padding: 6px 18px 2px 6px;
	height: auto;
	width: 182px;
	font-family: "Open Sans", Tahoma, Geneva, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0;
	word-spacing: 2px;
	overflow: hidden;
	display: block;
	cursor: pointer;
	color: #ccc;
	background: rgb(51, 51, 51);
	background: rgba(51, 51, 51, 0.92);
	text-decoration: none;
	white-space: nowrap;
}
.contextMenuSlideShow li:hover {
  background-color: #ff9900;
  color: #333333;
}
.contextMenuSlideShow li div {
	background-image: url("../glyphicons/glyphicons-152-ccc-new-window.png");
	background-position: center right;
	background-repeat: no-repeat;
	padding-left: 30px;
}
.contextMenuSlideShow li div.continueSlideshowContainer {
  background-image: url("../glyphicons/glyphicons-152-ccc-play.png");
}
.contextMenuSlideShow li div.stopSlideshowContainer {
  background-image: url("../glyphicons/glyphicons-152-ccc-pause.png");
}